.position-center{
    width: auto;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 20px;
}

* {
    box-sizing: content-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.padding{
    padding-left: 25px;
    padding-right: 50px;
}